.fa-youtube{
    font-size: 35px;
    color: red;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.fa-magnifying-glass{
    padding: 0px 20px;
}

 
  .notification>i:hover{
    /* padding: 4px; */
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    color:white;
  }
  .tabActive{
    background-color: grey !important;
    color:black !important;
  }
